name: Deploy To EC2

on:
  push:
    branch:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2 접속
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/Ex08_JPAtest01
            pwd
            git config --global --add safe.directory /home/ubuntu/Ex08_JPAtest01
            sudo git pull origin main
            sudo ./gradlew bootwar
            sudo fuser -k -n tcp 8080 
            nohup java -jar build/libs/*SNAPSHOT.war > /dev/null 2>&1 &
